absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
black==21.4b2
blis==0.7.5
cachetools==5.0.0
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
cymem==2.0.6
docopt==0.6.2
fastai==2.5.3
fastcore==1.3.29
fastdownload==0.0.5
fastprogress==1.0.2
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.43.0
idna==3.3
importlib-metadata==4.11.0
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
multidict==6.0.2
murmurhash==1.0.6
numpy==1.22.2
oauthlib==3.2.0
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.1
pathy==0.6.1
Pillow==9.0.1
pipreqs==0.4.11
pre-commit==2.20.0
preshed==3.0.6
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pydantic==1.8.2
pyDeprecate==0.3.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.2.2
spacy-legacy==3.0.9
spacy-loggers==1.0.1
srsly==2.4.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thinc==8.0.13
threadpoolctl==3.1.0
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchmetrics==0.7.2
torchvision==0.11.3+cu113
tqdm==4.62.3
typer==0.4.0
typing-extensions==4.1.0
urllib3==1.26.8
wasabi==0.9.0
Werkzeug==2.0.3
yarg==0.1.9
yarl==1.7.2
zipp==3.7.0
